.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
  position: relative;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.comebackToMainPage {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 25px;
  &:hover {
    color: #c2f5ff;
  }
}

.returnLinkBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
}

.goToLeaderbord {
  width: auto;
  height: auto;
  border-radius: 12px;
  background-color: #7ac100;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  padding: 5px 10px;
  &:hover {
    color: #c2f5ff;
  }
}

.lifesText {
  display: flex;
  color: #fff;
  font-size: 16px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  margin-bottom: 10px;
  align-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.counterLifes {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.lifes {
  color: rgb(145, 232, 232);
  font-size: 18px;
}

.achievementsButtons {
  display: flex;
  gap: 10px;
  position: relative;
}

.disabled {
  opacity: 0.5; /* Делает кнопку полупрозрачной */
  filter: grayscale(100%); /* Делает изображение черно-белым */
}

.achievementsButton {
  position: relative; /* Контекст для псевдоэлемента */
  z-index: 2; /* Поверх затемняющего фона */
}

.achievementsButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Покрывает весь видимый экран */
  height: 100vh; /* Покрывает весь видимый экран */
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
  opacity: 0; /* Изначально невидим */
  transition: opacity 0.3s; /* Плавный переход */
  z-index: -1; /* Под кнопкой */
}

.achievementsButton:hover::before {
  opacity: 1; /* Появляется при наведении */
}

.hoverTextEpiphany,
.hoverTextAlohomora {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #C2F5FF;
  color: black;
  padding: 15px 5px 5px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 3; /* Поверх затемняющего фона */
}

.hoverTextEpiphany {
  width: 130px;
  height: 140px;
  top: 70px;
  left: 20%;
  transform: translateX(-50%);
}

.hoverTextAlohomora {
  width: 130px;
  height: 80px;
  top: 70px;
  left: 80%;
  transform: translateX(-50%);
}

.achievementsButton:hover .hoverTextAlohomora,
.achievementsButton:hover .hoverTextEpiphany {
  display: block;
}

